body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
header{
    background-color: rgb(11, 46, 110);
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}
nav{
    align-content: center;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 200px;
}
nav ul li{
    position: relative;
}
nav ul li a{
    text-decoration: none;
    display: block;
}
nav ul li a:hover{
    color: orange;
}
.submenu{
    display: none;
    position: absolute;
    background-color: rgb(11, 46, 110);
    top: 100%;
    left: 0;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    min-width: 180px;
    gap: 20px;
}
nav ul li:hover > .submenu{
    display: flex;
}

header a{
    color: white;
    text-decoration: none;
    font: bold 17px Arial, Helvetica, sans-serif;
    cursor: pointer;
}
header p{
    font: normal 15px Arial, Helvetica, sans-serif;
}

.conta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icone-login{
    width: 40px;
    height: auto;
    border-radius: 50%;
}
.arrow-drop{
    width: 20px;
    height: auto;
}