/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
header{
    background-color: rgb(11, 46, 110);
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}
nav{
    align-content: center;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 200px;
}
nav ul li{
    position: relative;
}
nav ul li a{
    text-decoration: none;
    display: block;
}
nav ul li a:hover{
    color: orange;
}
.submenu{
    display: none;
    position: absolute;
    background-color: rgb(11, 46, 110);
    top: 100%;
    left: 0;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    min-width: 180px;
    gap: 20px;
}
nav ul li:hover > .submenu{
    display: flex;
}

header a{
    color: white;
    text-decoration: none;
    font: bold 17px Arial, Helvetica, sans-serif;
    cursor: pointer;
}
header p{
    font: normal 15px Arial, Helvetica, sans-serif;
}

.conta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.iconde-login{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.arrow-drop{
    width: 20px;
    height: auto;
} */


/* ---------------------------------------------------------------------------- */

/* main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.indicadores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
    padding: 20px;
}
.img-indicador{
    max-width: 100px;
    width: 100%;
    height: auto;
}
.p-pendente{
    background-image: linear-gradient(to right, rgb(173, 97, 4), orange);
    max-width: 400px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.8);
}
.p-pendente h1{
    color: white;
    text-align: center;
    font: bold 35px Arial, Helvetica, sans-serif;
}*/
 .info{
    display: flex;
    align-items: center;   /*centraliza o h2 em relação à imagem */
    justify-content: flex-start;
    padding-left: 30px;   /* controla o quão pra esquerda fica */
    gap: 20px;
}
.info h2{
    color: white;
    font: bold 40px Arial, Helvetica, sans-serif;
}
.p-pronto{
    background-image: linear-gradient(to right, rgb(3, 71, 3), green);
    max-width: 400px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.8);
}

.p-pronto h1{
    color: white;
    text-align: center;
    font: bold 35px Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------------------------ */

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 768px){
    .conteudo{
        flex-direction: row;
        align-items: flex-start;
    }
}

.conteudo h2{
    margin: 10px 0 0 10px;
    color: rgb(11, 46, 110);
}
.conteudo hr{
    margin: 10px 10px;
}
.container-esquerda{
    justify-content: center;
    align-items: center;
    max-width: 40%;
    width: 100%;
    height: 100vh;
    margin: 0 0 0 40px;
}
.estoque-produto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
    max-width: 95%;
    width: 100%;
    height: 50%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px grey;
}
@media(min-width: 768px){
    .estoque-produto{
        grid-template-columns: 2fr 1fr;
    }
}
.estoque-produto h2, .estoque-produto hr{
    grid-column: 1 / -1;
}
.estoque-produto p{
    padding: 10px;
}
.estoque-produto p:nth-of-type(odd){
    text-align: left;
    padding-left: 10px;
}
.estoque-produto p:nth-of-type(even){
    text-align: right;
    padding-right: 10px;
}


.estoque-material{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
    max-width: 95%;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-shadow: 2px 2px 10px grey;
}
@media(min-width: 768px){
    .estoque-material{
        grid-template-columns: 2fr 1fr;
    }
}
.estoque-material h2, .estoque-material hr{
    grid-column: 1 / -1;
}
.estoque-material p{
    padding: 10px;
}
.estoque-material p:nth-of-type(odd){
    text-align: left;
    padding-left: 10px;
}
.estoque-material p:nth-of-type(even){
    text-align: right;
    padding-right: 10px;
}

.container-direita{
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 55%;
    width: 100%;
    height: 100vh;
    margin: 0 40px 0 0;
    box-shadow: 2px 2px 10px grey;
}
.container-direita h2{
    margin: 20px 0 0 20px;
    color: rgb(11, 46, 110);
}
.container-direita hr{
    margin: 10px 20px;
}

table{
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    color: rgb(11, 46, 110);
    font: bold 15px Arial, Helvetica, sans-serif;
}
thead{
    background-color: lightgrey;
    
}
th, td{
    padding: 8px;
    text-align: center;
}
.status{
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.concluido{
    background-color: green;
}
.producao{
    background-color: orange;
}
.aguardando{
    background-color: red;
}