* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h2 {
   font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}

p {
   font-size: clamp(0.9rem, 2vw, 1.1rem);
}

/* celular */
@media (min-width: 480px) {}


/* tablet */
@media (min-width: 768px) {}


/* notebook */
@media (min-width: 1024px) {}


/* desktop grande */
@media (min-width: 1280px) {}


body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100vh;
   /* 1. Criando o degradê (as cores se repetem para o efeito de "volta" ser suave) */
    background: linear-gradient(-45deg, #ffffff, #a2a3a3bb);
    
    /* 2. Aumentei o tamanho do fundo para ele poder se mover */
    background-size: 400% 400%;
    
    /* 3. Chamamos a animação: nome | tempo | suavidade | infinito */
    animation: degradeLento 10s ease infinite;

   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(width);
}
/* 4. Criando os movimentos do fundo */
@keyframes degradeLento {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
   background-color: rgb(11, 46, 110);
   color: white;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 1000;


}

nav {
   align-content: center;
}

nav ul {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 200px;
}

nav ul li {
   position: relative;
}

nav ul li a {
   text-decoration: none;
   display: block;
}

nav ul li a:hover {
   color: orange;
}

.submenu {
   display: none;
   position: absolute;
   background-color: rgb(11, 46, 110);
   top: 100%;
   left: 0;
   padding: 10px;
   border-radius: 0 0 5px 5px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
   flex-direction: column;
   min-width: 180px;
   gap: 20px;
}

nav ul li:hover>.submenu {
   display: flex;
}

.logo {
   max-width: 150px;
   width: 100%;
   height: auto;
   padding: 10px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header a {
   color: white;
   text-decoration: none;
   font: bold 17px Arial, Helvetica, sans-serif;
   cursor: pointer;
}

header p {
   font: normal 15px Arial, Helvetica, sans-serif;
}


.conta {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.iconde-login {
   width: 50px;
   height: auto;
   border-radius: 50%;
}

.arrow-drop {
   width: 20px;
   height: auto;
}


main {
   display: flex;
   padding-bottom: 30px
}


footer {
   background-color: rgb(11, 46, 110);
   color: white;
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 0;
   z-index: 1000;
}



/* formulário de pedidos */

.container01 {
   height: 240px;
   width: 870px;
   background: radial-gradient( rgb(243, 238, 238),rgb(243, 238, 238),rgb(213, 207, 207));
   border: 3px solid black;
   border-radius: 10px;
   position: absolute;
   top: 150px;
   left: 10%;
   
}

h3 {
   color: rgb(0, 0, 0);
   position: absolute;
   position: relative;
   left: 20px;
   bottom: -20px;
}

/* icone-camiseta 01*/
.icon-camiseta {
   height: 85px;
   width: 82px;
   position: absolute;
   bottom: 86.7px;
   left: 22px;
}

/*posição do input n1*/
.checkbox-n1 {
   display: flex;
   position: relative;
   left: 25px;
   top: 130px; 
   gap: 4px;


}
/*icone-camisa 02*/
.icon-camisa{
   height: 85px;
   width: 90px;
   position: absolute;
   position: relative;
   top: 19px;
   left: 150px;


}
/*posição do input 2*/
.checkbox-n2{
   display: flex;
   position: absolute;
   left: 140px;
   top: 152.3px;
   gap: 4px; 
}

/*icone-camisa-longa*/
.icon-camisa-longa{
    height: 85px;
    width: 90px;
    position: absolute;
    position: relative;
    left: 200px;
    top: 19px ;
}
/*posição do input3*/
.checkbox-n3{
   display: flex;
   position: absolute;
   left: 285px;
   top: 151.5px;
   gap: 4px
   ;
}
/*icone da blusa*/
.icon-blusaa{
   height: 90px;
   width: 90px;
   position: absolute;
   position: relative;
   left: 260px;
   top: 20px;
}
/*posição do input4*/
.checkboxn-n4{
   display: flex;
   position: absolute;
   left: 470px;
   top: 151.5px;
   gap: 4px;
}

/*icone do moletom*/
.icon-moletom{
   height: 90px;
   width: 90px;
   position: absolute;
   position: relative;
   left: 310px;
   top: 20px;
}
/*posição do input5*/
.checkboxn-n5{
   display: flex;
   position: absolute;
   position: relative;
   left: 600px;
   top: 19px;
   gap: 4px;
}

.icon-calça{
   height: 80px;
   width: 100px;
   position: absolute;
   position: relative;
   left: 720px;
   top: -85px;
}

.checkboxn-n6{
   display: flex;
   position: absolute;
   position: relative;
   margin-top: 10px;
   top: -93px;
   left: 740px;
   gap: 4px;
}


.conteiner02{
   height: 240px;
   width: 870px;
   background: radial-gradient( rgb(243, 238, 238),rgb(243, 238, 238),rgb(213, 207, 207));
   border: 3px solid black;
   border-radius: 10px;
   position: absolute;
   top: 250px;
   left: -1.3px;
}


/* Estiliza o botão de cor para não ficar com a aparência padrão do Windows */
input[type="color"] {
   position: relative;    /* Usei para poder mover o quadrodo pra qualquer lado*/
    width: 75px;          /* Define a largura do botão */
    height: 75px;         /* Define a altura do botão */
    background: none;     /* Remove qualquer fundo extra */
    top: 18%;
    left: 30px;
   }

.checkboxn-01-algodão{
   position: relative;
   top: 50px;
   left: 31px;
   font-size: 15px;
}


/* Esse bloco remove as molduras internas de todos os input "color" que navegadores como Chrome colocam */
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;           /* Tira o espaço interno */
}

/* Estiliza a "amostra" de cor dentro do botão redondo */
input[type="color"]::-webkit-color-swatch {
    border: none;         /* Remove a borda interna */
}

/* cor 02-linho*/


#cor-linho{
   position: relative;
   top: -22.5%;
   left: 150px;
   cursor: pointer;

}

.checkbox-linho{
   position: relative;
   top: -46.5px;
   left: 158px;
   font-size: 15px;
}

/*cor 03-poliéster*/

#cor-poliester{
   position: relative;
   top: -148px;
   left: 270px;
   cursor: pointer;
}

.checkbox-poliester{
   position: relative;
   top: -141px;
   left: 270px;
   font-size: 15px;
}

/*cor 04-Seda*/

#cor-seda{
   position: relative;
   top: -243px;
   left: 380px;
   cursor: pointer;
}

.checkbox-04-seda{
   position: relative;
   top: -236px;
   left:  390px;
   cursor: pointer;
   font-size: 15px;
}

#cor-lã{
    position: relative;
   top: -338px;
   left: 490px;
   cursor: pointer;
}

.checkbox-05-lã{
   position: relative;
   top: -331px;
   left:  510px;
   cursor: pointer;
   font-size: 15px;
}

#cor-elastano{
   position: relative;
   top: -433.4px ;
   left: 600px;
   cursor: pointer;
}

.checkbox-06-elastano{
   position: relative;
   top: -427px;
   left:  600px;
   cursor: pointer;
   font-size: 15px;
}

#cor-renda{
   position: relative;
   top: -529.4px ;
   left: 712px;
   cursor: pointer;
}

.checkbox-07-renda{
   position: relative;
   top: -523px;
   left:  717px;
   cursor: pointer;
   font-size: 15px;
}

/*Container 3- upload da imagem*/

.conteiner03{
   height: 400px;
   width: 870px;
   background: radial-gradient( rgb(243, 238, 238),rgb(243, 238, 238),rgb(213, 207, 207));
   border: 3px solid black;
   border-radius: 10px;
   position: absolute;
   top: 250px;
   left: -1.3px;
}

/* Definindo variáveis para cores de marca */
.upload-img{
   background-color: #c7c0c0cc;
   animation: degradeLe;
   height: 200px;
   width: 700px;
   border: 3px dashed  rgb(0, 0, 0);
   margin: auto;
   margin-top: 40px;
   
}

:root {
    --cor-borda-tracejada: #a5c7f7; /* Um azul suave combinando com seu botão */
    --cor-fundo-upload: #fcfcfc;
    --cor-texto-escuro: #070707;
    --cor-texto-claro: #888;
    --fonte-tamanho-p: 1.1rem;
    --fonte-tamanho-s: 0.9rem;
}

.upload-texto-principal{
   position: relative;
   margin-top: 70px;
   left: 170px;

}

.upload-legendas{
   position: relative;
   margin-top: 5px;
   left: 210px;
   color: var(--cor-texto-claro);
   
}

  