@media (max-width: 768px) {

    /* SIDEBAR */

    .sidebar {
        width: 180px;
    }

    .logo-nome {
        width: 110px;
    }

    .menu {
        padding: 0 10px;
        gap: 6px;
    }

    .menu a {
        padding: 12px 12px;
        font-size: 14px;
    }

    /* CONTAINER */

   .container {
  width: calc(100% - 180px);
  margin-left: 180px;
  max-width: 1400px;
  margin-right: auto;
  padding: 20px;
}

    /* TOPO */

    .top {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

.product-left{
    grid-template-columns: 60px 1fr 1fr max-content;
    gap:15px;
}

    .top-right {
        width: 100%;
        flex-wrap: wrap;
    }

    .search {
        width: 100%;
    }

    /* DASHBOARD */

    .dashboard-cards,
    .stock-grid,
    .clients-grid,
    .charts {
        grid-template-columns: 1fr;
    }

    /* TABELAS */

    .table-header,
.product {
    grid-template-columns: 60px 1fr 1fr auto;
}
    /* LISTA */

    .list {
        overflow-x: auto;
    }

    /* BOTÕES */

    .btn {
        padding: 8px 12px;
        font-size: 14px;
    }
}

/* ========================================= */
/* CELULARES PEQUENOS */
/* ========================================= */

@media (max-width: 480px) {
    .sidebar {
        width: 160px;
    }

    .logo-nome {
        width: 95px;
    }

    .container {
        width: calc(100% - 160px);
        margin-left: 160px;
    }

    .menu a {
        padding: 10px;
        font-size: 13px;
    }

    .profile {
        display: none;
    }

    .dashboard-card h2 {
        font-size: 20px;
    }
}
