* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body {
    display: flex;
    background: #f4f6f8;
}


/* -------------------------------------------------TABS------------------------------------------------ */

.tabs{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.tab-btn{
    padding:10px 20px;
    border:none;
    background:#e5e7eb;
    border-radius:6px;
    cursor:pointer;
}

.tab-btn.active{
    background:#2563eb;
    color:white;
}

.tab-content{
    display:none;
}

.tab-content.active{
    display:block;
}

.table-header, .product{
    display:grid;
    grid-template-columns: 70px 2fr 1fr 1fr 1fr;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.table-header{
    font-weight:bold;
    padding:15px 0;
    border-bottom:2px solid #eee;
}

.table-header span{
    padding-left: 10px;
}

.img{
    width:50px;
    height:50px;
    background:#ddd;
    border-radius:8px;
}

.status{
    padding:5px 10px;
    border-radius:20px;
    font-size:13px;
    width:fit-content;
}

.status.ok{
    background:#d1fae5;
    color:#065f46;
}

.status.baixo{
    background:#fef3c7;
    color:#92400e;
}

.status.saida{
    background:#e0e7ff;
    color:#3730a3;
}

.actions{
    display:flex;
    gap:10px;
    font-size:18px;
    cursor:pointer;
}



/* ---------------------------------------SIDEBAR---------------------------------- */

.sidebar {
    width: 220px;
    height: 100vh;
    background: #111827;
    color: white;
}

.logo-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
}

.logo-nome {
    width: 100px;
    height: auto;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}
.menu button{
    width: 100%;
    text-align: center;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
.menu hr {
    width: 124%;
    height: 1px;
    background-color: white;
}

a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* CONTAINER */

.container {
    flex: 1;
    padding: 25px;
}

/* TOPO */

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile {
    width: 45px;
    height: 45px;
    background: #ddd;
    border-radius: 50%;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-pedidos {
    color: black;
    background: #e5e7eb;
}

.search {
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* DIREITA */

.top-right {
    display: flex;
    gap: 10px;
}

.btn-filter {
    background: #e5e7eb;
}

.btn-add {
    background: #2563eb;
    color: white;
}

/* LISTA */

.list {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    padding: 20px;
    min-height: 400px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-left {
    display:grid;
    grid-template-columns: 70px 150px 200px 150px;
    align-items:center;
    gap:30px;
}

span{
    font-weight: bold;
}
.produto{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.empresa{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img {
    width: 60px;
    height: 60px;
    background: #ddd;
    border-radius: 8px;
}

.actions {
    display: flex;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}