.dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* CARDS */

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.dashboard-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-card:hover {
    transform: translateY(-3px);
}

.dashboard-card span {
    color: #6b7280;
}

.dashboard-card h2 {
    margin-top: 10px;
}

/* SEÇÕES */

.dashboard-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.section-header a {
    color: #2563eb;
    font-size: 14px;
}

/* PEDIDOS */

.recent-orders {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* ESTOQUE */

.stock-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stock-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.stock-card p {
    color: #6b7280;
}